@{
    ViewBag.Title = "Home Page";
}

<h1>Image WebApp</h1>

<div class="row">
    <div class="col-md-6">
        <div style="height:40px">
            <b>Service Status:</b>
            <text style="color:@Model.StatusColor">
                @Model.ServiceStatus
            </text>
        </div>
        <div>
            <b>@Model.NumOfTransfered</b>
            <text>Pics have been transered so far.</text>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Students Details</h4>
<<<<<<< HEAD
        <table style="width:100%;text-align:center" class="table">
=======
        <table class="table" style="width:100%;text-align:center">
>>>>>>> alihom
            <tr style="background-color:darkgrey">
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>ID</b></td>
            </tr>
            @foreach (var student in Model.Students) {
                <tr>
                    <td>@student[0]</td>
                    <td>@student[1]</td>
                    <td>@student[2]</td>
                </tr>
            }
        </table>
    </div>
</div>

