@model ImageWebApp.Models.PhotosModel

@{
    ViewBag.Title = "Photos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<footer class="row">
    @foreach (var pic in Model.Pictures) {
        <div class="row col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-circle" src="/@pic["thumb"].Replace(Server.MapPath("~"),"").Replace("\\","/")" alt="Avatar">
                <div class="caption">
                    <h4>@pic["name"]</h4>
                    <p>@pic["date"]</p>
                    <p>
                        <a href="@Url.Action("ViewPhoto", "Home", new { picture = pic["picture"].Replace(Server.MapPath("~"), "").Replace("\\", "/"), name = pic["name"], date = pic["date"], thumb =pic["thumb"].Replace(Server.MapPath("~"), "").Replace("\\", "/")})" class="btn btn-info btn-xs" role="button">View</a>
                        <a href="@Url.Action("DeletePhoto", "Home", new { picture = pic["thumb"].Replace(Server.MapPath("~"), "").Replace("\\", "/"), name = pic["name"], date = pic["date"] })" class="btn btn-danger btn-xs" role="button">Delete</a>
                    </p>
                </div>
            </div>
        </div>
    }
</footer>